@model ColorCounter.Website.Model.User
@{
    ViewData["Title"] = "Result";
}
<script type="text/javascript">
    window.setInterval(function () {
        var url = "/Home/GetCount?userName=@Model.UserName";
        $.get(url,
            function (data) {
                var result = JSON.parse(data);
                var dt = new Date();
                $("#count").text(result.color);
                $("#message").text("Response received at " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds());
            }).fail(function () {
                alert("failed");
            });
    }, 5000);
</script>
<h1>Hi, @Model.UserName.ToUpperInvariant()</h1>
<hr />
<h2>Selected color: @Model.SelectedColor</h2>
<h2>Pixels found: <span id="count">Please wait...</span></h2>
<h2>Status: <span id="message">Please wait...</span></h2>
<br />
<h2>Image under analysis</h2>
<img src="@Model.ImagePath" alt="selected image" />
